{% extends "base.html" %}

{% block content %}
<div class="position-static container">
    <div class="position-absolute top-50 start-50 translate-middle content">
        <label for="correctNumber">Looks like no one has started a game</label>
        <br>
        <br>
        <p>Click here to start</p>
        <br>
        <form action="{% url 'newGame' %}" method="post">{% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Start the game">
        </form>
    </div>
</div>
{% endblock content %}