{% extends "base.html" %}

{% block content %}
<div class="position-static container">
    <div class="position-absolute top-50 start-50 translate-middle content">
        <label for="correctNumber">Number to guess: {{ correctNumber.number }}</label>
        <p>Number extracted: {{ numberExtracted }}</p>
        <h1>YOU WIN!!</h1>
        <p>Total tries: {{ correctNumber.numberOfGuesses }}</p>
        <form action="{% url 'newGame' %}" method="post">{% csrf_token %}
            <input type="submit" class="btn btn-success" value="Start new Game">
        </form>
    </div>
</div>
{% endblock content %}